.banner-vcare {
  padding-top: 2rem;
	background-image: url(../../../assets/img/hcare-banner.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
	justify-content:center;
	align-items:baseline;
	margin: 0;
	height: 70vh; 
	width: 100vw;
}
@media only screen and (max-width:479px) {
  .banner-vcare {
		padding-top: 3rem !important;
	}
}
@media only screen and (max-width: 575.98px) {
	.banner-vcare {
		background-image: none !important;
		height: 40vh !important;
	}
}
@media only screen and (max-width: 600px) {
.banner-vcare {
	background-image: none !important;
}
}