.home-care-section img{
    width: 60%;
    height: auto;
    margin: 2rem 2rem 1rem;
    box-shadow: 0 2px 4px 0 rgba(1, 1, 37, 0.2), 0 2px 10px 0 rgba(0, 0, 0, 0.19);
    border-radius: .5rem;
}
.home-care-section:hover img:hover {
    box-shadow: 0 4px 8px 0 rgba(1, 1, 37, 0.2), 0 2px 10px 0 rgba(0, 0, 0, 0.19);
}
.home-care-section {
    padding: 2rem 0;
    margin: 2rem 0;
    background-color: #b2c7ce;
}
.disclaimer {
    padding: 2rem 0;
    background-image: url(../assets/img/home-care/disclaimer.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.home-care-section-two {
    padding: 4rem 0 2rem;
}
.home-care-section-two .text {
    padding: 2rem 2rem 0 0;
}
.home-care-section-two .col-lg-6 {
    padding-left: 4rem;
}
.home-care-section-two img {
    width: 80%;
}
.home-care-banner {
    background-image: url(../assets/img/home-care-banner.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: flex-start;
    padding: 12rem 0 0 8rem;
    align-items: baseline;
    margin: 0;
    height: 90vh;
    width: 100vw;
}
.home-care-header h1 {
    padding-top: 4rem;
	font-size: 2.566rem !important;
	color: #151515;
	font-weight: 200 !important;
    letter-spacing: .103rem;
    line-break:strict;
    padding-bottom: 2rem;
    border-bottom: .5px solid black;
}