.active-tabs  {
    background: white;
    border-bottom: 1px solid transparent;
  }
  
  .active-tabs::before {
    content: "";
    display: block; 
    position: absolute;
    top: -5px;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% + 2px);
    height: 5px;
    background: rgb(88, 147, 241);
  }
  
  
  
  button {
    border: none;
    
  }
  .content-tabs {
    flex-grow : 1;
  }
  .content-main {
    background: white;
    padding: 20px;
    width: 100%;
    height: 100%;
    display: none;
  }
  .content-main h2 {
    padding: 0px 0 5px 0px;
  }
  .content-main hr {
    width: 100px;
    height: 2px;
    background: #222;
    margin-bottom: 5px;
  }
  .content-main p {
    width: 100%;
    height: 100%;
  }
  .active-content {
    display: block;
  }
  .tabs {
    padding: 1rem !important;
  }
  .bloc-tabs {
    display: flex !important;
  }
  .lg-size {
    margin-bottom: 12px;
    width: 12px !important;  
  }
  .h6-tabs {
    font-size: 18px;
  }