.fw-slide {
  display: flex;
}
.slide-i img {
  border-radius: 0.4rem 0 0 0.4rem;
  box-shadow: 0 1px 2px 0 rgba(85, 85, 85, 0.2),
    0 0 0 0 rgba(104, 104, 104, 0.19);
}
.fw-banner {
  padding-top: 12rem;
  padding-left: 8rem;
  background-image: url(../../../assets/img/for-woman/banner.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  margin: 0;
  height: 60vh;
  width: 100vw;
  left: 120px !important;
}
.slick-list {
  height: fit-content !important;
}
.fw-slide {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2rem;
}
.fw-s-deet {
  box-shadow: 0 1px 2px 0 rgba(141, 141, 141, 0.2),
    0 2px 4px 0 rgba(145, 145, 145, 0.19);
  width: 320px;
  padding: 1rem;
  border-radius: 0.2rem;
}
.whi {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 2rem;
}
.whi-con {
  border-radius: 0.6rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}
.whi-box {
  padding: 1rem;
  margin: 1rem;
  width: 12rem;
  text-align: center;
  border-radius: 0.4rem;
  box-shadow: 0 1px 2px 0 rgba(141, 141, 141, 0.2),
    0 2px 4px 0 rgba(145, 145, 145, 0.19);
}
.whi h4 {
  color: rgb(46, 46, 156);
}
.whi h5 {
  padding: 1rem;
}
.whi-box:hover {
  box-shadow: none;
  border: 1px solid #ececec;
  cursor: pointer;
}
.whi-box:hover h5 {
  color: rgb(46, 46, 156);
}
