.diag-search {
    padding: 8rem 0 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
#view-btn {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    flex-direction: column !important;
}
.pop-design img {
    border-radius: 50%;
    padding: .4rem;
}
.pop-design h6 {
    margin: .3rem 0;
}
.pop-design h5 {
    margin-top: 1rem;
    padding-top: .3rem;
    font-weight: 600;
    border-top: 1px solid #d6d6d6;
}
.pop-design h5:hover {
    color: #a31010;
    cursor: pointer;
}
.pop-design {
    padding: 1rem;
    box-shadow: 0 1px 2px 0 rgba(70, 68, 68, 0.2), 0 2px 6px 0 rgba(77, 75, 75, 0.19);
    border-radius: .4rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: baseline;
}
.pop-design:hover {
    box-shadow: 0 .2px 1px 0 rgba(70, 68, 68, 0.2), 0 1px 3px 0 rgba(77, 75, 75, 0.19);
}