.navbarz {
    width: 100vw;
    height: 88px;
    position: static;
    display: flex;
    align-items: center;
    border-bottom: rgb(215, 217, 221, .4) 3px solid;
    justify-content: space-between;
}
.leftz {
    margin-left: 3rem;
}
.rightz .links{
    display: flex;
    align-items: center;
}
.main-navs {
    display: flex;
    justify-content: start;
}
#links h2{
    color: black;
    margin: auto 12px 0 0;
    font-size: 16px;
}
#links p {
    font-size: 12px;
    margin: 4px 8px 0 0;
}
.nav-link {
    text-decoration: none;
}
.rightz #btn {
    color: #fdfdfd !important;
    padding: .5rem 2rem;
    border: #fdfdfd;
    border-radius: 2rem;
    background-color: rgb(46, 46, 134);
    margin-right: 3rem;
    margin-left: 4em;
}

.navbar .rightz .svg-inline--fa  {
    display: none;
}

.navbar .rightz #hidden{
    display: flex;
}

@media only screen and (max-width: 650px) {
    .navbar .rightz .svg-inline--fa  {
        display: flex;
        margin-right: 3rem;
        border-radius: 2rem;
        padding: .5rem 1rem ;
    }
    .navbar .rightz .links {
        display: none;
    }
    .rightz #btn {
        margin-left: 0;
    }
    .navbar .rightz #hidden{
        position: absolute;
        left: 0;
        top: 88px;
        height: fit-content;
        width: 88vw;
        display: flex;
        flex-direction: column;
        align-items: baseline;
        padding: 2rem;
        background-color: #fdfdfd;
    }
    .navbar .rightz #hidden .main-navs {
        display: flex;
        align-items: baseline;
        flex-direction: column;
    }
    .navbar .rightz #hidden #links {
        margin-bottom: 1rem;
        padding-bottom: .5rem;
        border-bottom: 1px solid #151515;
    }
    .navbar z #hidden a {
        margin: 20px;
    }
}