@media screen and (max-width: 800px) {
  .s-items {
    width: fit-content;
  }
  .section-header {
    padding-top: 6rem;
  }
}
@media screen and (max-width: 480px) {
  .s-items {
    width: fit-content !important;
  }
  .speciality {
    margin-bottom: 3rem;
  }
  .speicality-item {
    margin: 0.2rem;
    align-items: baseline;
  }
  .speicality-item p {
    font-size: 12px !important;
    line-height: 16px;
    text-align: start !important;
  }
  #img-spec {
    padding: 1rem;
    border-radius: 1rem;
  }
  #img-spec img {
    width: 60%;
    height: 60%;
  }
  .slick-next,
  .slick-prev {
    margin: 0%;
    padding: 0;
    height: 0%;
    width: 0 !important;
    opacity: 0 !important;
  }
  .view-btn {
    background-color: #fdfdfd !important;
    border: 0.2px solid #868686 !important;
    width: 90vw !important;
    padding: 0.1rem !important;
    font-size: 12px !important;
  }
}
