.diag-search {
    padding: 8rem 0 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
#view-btn {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    flex-direction: column !important;
}