* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.sign-up {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}
.navbar {
  background-color: #fdfdfd;
  height: 80px;
  width: 100vw !important;
  display: flex;
  justify-content: center !important;
  align-items: center;
  font-size: 1rem;
  position: fixed !important;
  top: 30;
  z-index: 999;
  padding: 0 !important;
  border-bottom: #cccddd solid 1px;
}
.navbar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  max-width: 1500px;
}

.navbar-logo {
  color: #151515;
  justify-self: start;
  margin-right: 20px;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  display: flex;
  align-items: center;
}

.fa-typo3 {
  margin-left: 0.5rem;
  font-size: 1.8rem;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-gap: 10px;
  list-style: none;
  text-align: center;
  width: 60vw;
  justify-content: center;
  margin: 0;
}
.nav-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.nav-content h6 {
  margin: 0 !important;
  text-align: start;
  font-weight: 480;
  font-size: 18px !important;
}
.nav-content p {
  font-size: 12px !important;
  margin-bottom: 0;
  font-weight: 420;
  padding-left: 0;
}
.nav-item {
  height: 40px;
}

.nav-links {
  color: #151515;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0.5rem 1.5rem 0.5rem 0;
  height: 100%;
}

.nav-links:hover {
  transition: all 0.2s ease-out;
}
.fa-bars {
  color: #151515;
}

.nav-links-mobile {
  display: none;
}

.menu-icon {
  display: none;
}

@media screen and (max-width: 1290px) {
  .nav-content h6 {
    font-size: 14px !important;
  }
  .nav-content {
    flex-direction: row;
  }
  .nav-content p {
    font-size: 12px !important;
    padding-left: 1rem;
  }
}
@media screen and (max-width: 1250px) {
  .nav-content h6 {
    font-size: 12px !important;
  }
  .nav-content p {
    font-size: 10px !important;
    padding-left: 1rem;
  }
}

@media screen and (max-width: 1080px) {
  .nav-content h6 {
    font-size: 11px !important;
  }
  .nav-content p {
    font-size: 9px !important;
    padding-left: 1rem;
  }
}

@media screen and (max-width: 1060px) {
  .NavbarItems {
    position: relative;
  }

  .nav-menu {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
    height: 90vh;
    position: absolute;
    top: 80px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-menu.active {
    background: #fdfdfd;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }

  .nav-links {
    text-align: center;
    padding: 0.5rem;
    margin: 0.5rem;
    width: 100%;
    border-bottom: 1px solid rgb(212, 212, 212);
    display: flex;
  }

  .nav-links:hover {
    background-color: #fdfdfd;
    box-shadow: 0 4px 8px 0 rgba(80, 80, 80, 0.2),
      0 6px 20px 0 rgba(110, 110, 110, 0.19);
    color: #242424;
    border: 0;
    height: fit-content;
    border-radius: 0;
  }

  .navbar-logo {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(25%, 50%);
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }

  .fa-times {
    color: #151515;
    font-size: 2rem;
  }

  .nav-links-mobile {
    display: block;
    text-align: center;
    margin: 2rem auto;
    border-radius: 4px;
    width: 80%;
    text-decoration: none;
    font-size: 1.5rem;
    background-color: transparent;
    color: #151515;
    padding: 14px 20px;
    border: 1px solid #fff;
    transition: all 0.3s ease-out;
  }

  .nav-links-mobile:hover {
    background: #fff;
    color: #242424;
    transition: 250ms;
  }
}
