.a-banner {
  margin: 4rem 0;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 0;
}
.a-content p {
  font-size: 18px;
  font-weight: 400;
  color: rgb(34, 34, 151);
}
.num-list {
  padding: 0.4rem;
  outline: none;
  border: 0.2px solid #b3b3b3;
  margin-right: 1rem;
  border-radius: 0.2rem;
  width: 18rem !important;
}
.a-content {
  display: flex;
  align-items: baseline;
  justify-content: center;
  flex-direction: column;
  padding: 0;
  margin: 1rem;
}
@media only screen and (max-width: 1290px) {
  .a-img img {
    width: 30rem;
    height: auto;
  }
}
@media only screen and (max-width: 500px) {
  .a-banner {
    flex-direction: column !important;
    margin-bottom: 0.3rem;
  }
  .a-content {
    margin-top: 1rem;
  }
  .a-img img {
    width: 20rem;
  }
  .num-list {
    margin-right: 0.5rem;
  }
  .input-num {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}
