.a-banner {
    margin: 4rem auto;
}

.a-content h2{
    background-color: #fdfdfd;
    padding: 1rem;
}
.a-content p {
    font-size: 18px;
    font-weight: 400;
}
.a-content {
    display: flex;
    align-items: baseline;
    justify-content: center;
    flex-direction: column;
    padding: 0;
    margin: 1rem;
    width: 40vw;
    height: 50vh;
}
@media screen and (max-width: 992px) {
    .a-banner img {
        width: 280px;
        height: auto;
    }
    .a-banner h2 {
        font-size: 18px;
    }
    .a-banner p {
        font-size: 12px;
    }
    .a-banner button {
        font-size: 12px;
    }
}